<form action="/create_like_from_photo" method="post">

  <div class="form-group">
    <label for="users_id">
      Users
    </label>

    <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email, @like.users_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="photos_id" value="<%= @photo.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
