<!-- Form like start -->
<form action="/create_like_from_photo" method="post">
<!-- Form like end -->

  <!-- Label and input for users_id start -->
  <div class="form-group">
    <label for="users_id">
      Users
    </label>

    <!-- Input for users_id start -->
    <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email, @like.users_id), :class => "form-control") %>
    <!-- Input for users_id end -->
  </div>
  <!-- Label and input for users_id end -->

  <!-- Label and input for photos_id start -->
  <!-- Input for photos_id start -->
  <input type="hidden" name="photos_id" value="<%= @photo.id %>">
  <!-- Input for photos_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
