<h1>
  Add a new photo
</h1>


<hr>

<!-- Form photo start -->
<form action="/create_photo" method="post">
<!-- Form photo end -->

  <!-- Label and input for users_id start -->
  <div class="form-group">
    <label for="users_id">
      Users
    </label>

    <!-- Input for users_id start -->
    <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email, @photo.users_id), :class => "form-control") %>
    <!-- Input for users_id end -->
  </div>
  <!-- Label and input for users_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create photo
  </button>
</form>

<hr>

<a href="/photos">
  Go back
</a>
