<h1>
  Add a new photo
</h1>


<hr>

<form action="/create_photo" method="post">

  <input type="hidden" name="users_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create photo
  </button>
</form>

<hr>

<a href="/photos">
  Go back
</a>
