<h1>
  Add a new obsession
</h1>


<hr>

<form action="/create_obsession" method="post">

  <div class="form-group">
    <label for="stalker_id">
      Stalker
    </label>

    <%= select_tag(:stalker_id, options_from_collection_for_select(User.all, :id, :email, @obsession.stalker_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="victim_id">
      Victim
    </label>

    <%= select_tag(:victim_id, options_from_collection_for_select(User.all, :id, :email, @obsession.victim_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create obsession
  </button>
</form>

<hr>

<a href="/obsessions">
  Go back
</a>
