<!-- Validation failure messages -->
<% if @like.present? %>
  <% if @like.errors.any? %>
    <% @like.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new like
</h1>


<hr>

<!-- Form like start -->
<form action="/create_like" method="post">
<!-- Form like end -->

  <!-- Label and input for users_id start -->
  <div class="form-group">
    <label for="users_id">
      Users
    </label>

    <!-- Input for users_id start -->
    <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email, @like.users_id), :class => "form-control") %>
    <!-- Input for users_id end -->
  </div>
  <!-- Label and input for users_id end -->

  <!-- Label and input for photos_id start -->
  <div class="form-group">
    <label for="photos_id">
      Photos
    </label>

    <!-- Input for photos_id start -->
    <input type="text" id="photos_id" name="photos_id" class="form-control" value="<%= @like.photos_id %>">
    <!-- Input for photos_id end -->
  </div>
  <!-- Label and input for photos_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>

<hr>

<a href="/likes">
  Go back
</a>
