<% if @like.present? %>
  <% if @like.errors.any? %>
    <% @like.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new like
</h1>


<hr>

<form action="/create_like" method="post">

  <div class="form-group">
    <label for="users_id">
      Users
    </label>

    <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email, @like.users_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="photos_id">
      Photos
    </label>

    <%= select_tag(:photos_id, options_from_collection_for_select(Photo.all, :id, :users_id, @like.photos_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>

<hr>

<a href="/likes">
  Go back
</a>
